.avatar {
  @apply relative inline-flex;
}
.avatar > div {
  @apply block aspect-square overflow-hidden;
}
.avatar img {
  @apply h-full w-full object-cover;
}
.avatar.placeholder > div {
  @apply flex;
}
.avatar.placeholder > div,
.badge {
  @apply items-center justify-center;
}
.badge {
  @apply inline-flex transition duration-[0.2s] ease-in-out h-5 text-sm leading-5 w-fit border border-[hsl(var(--n)_/_var(--tw-border-opacity))] bg-[hsl(var(--n)_/_var(--tw-bg-opacity))] text-[hsl(var(--nc)_/_var(--tw-text-opacity))] rounded-[var(--rounded-badge,1.9rem)] px-[0.563rem];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.breadcrumbs {
  @apply max-w-full overflow-x-auto py-2;
}
.breadcrumbs > ol,
.breadcrumbs > ul {
  @apply flex items-center whitespace-nowrap min-h-min;
}
.breadcrumbs > ol > li,
.breadcrumbs > ul > li {
  @apply flex items-center;
}
.breadcrumbs > ol > li > a,
.breadcrumbs > ul > li > a {
  @apply flex cursor-pointer items-center;
}
.breadcrumbs > ol > li > a:hover,
.breadcrumbs > ul > li > a:hover {
  @apply underline;
}
.btn {
  @apply inline-flex shrink-0 cursor-pointer select-none flex-wrap items-center justify-center text-center transition  duration-[0.2s] ease-in-out rounded-[var(--rounded-btn,0.5rem)] h-12 text-sm leading-5 min-h-[3rem] font-semibold uppercase no-underline border-[length:var(--border-btn,1px)] animate-[button-pop_var(--animation-btn,0.25s)_ease-out] bg-[hsl(var(--n)_/_var(--tw-bg-opacity))] text-[hsl(var(--nc)_/_var(--tw-text-opacity))] px-4 border-transparent;
  text-transform: var(--btn-text-case, uppercase);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-disabled,
.btn[disabled] {
  @apply pointer-events-none;
}
.btn-circle {
  @apply h-12 w-12 p-0 rounded-full;
}
.btn.loading,
.btn.loading:hover {
  @apply pointer-events-none;
}
.btn.loading:before {
  @apply h-4 w-4 animate-[spin_2s_linear_infinite] content-[''] mr-2 rounded-full border-2 border-[transparent_currentColor_currentColor_transparent];
}
@media (prefers-reduced-motion: reduce) {
  .btn.loading:before {
    animation: spin 10s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
.btn-group > input[type='radio'].btn {
  @apply appearance-none;
}
.btn-group > input[type='radio'].btn:before {
  @apply content-[attr(data-title)];
}
.card {
  @apply relative flex flex-col rounded-[var(--rounded-box,1rem)] focus:outline-none focus:outline-offset-2;
}
.card-body {
  @apply flex flex-auto flex-col pt-[var(--padding-card)] pb-[var(--padding-card)] gap-2 px-[2rem];
}
.card-body :where(p) {
  @apply grow;
}
.card figure {
  @apply flex items-center justify-center;
}
.card.image-full {
  @apply grid before:relative before:content-[''] before:z-10 before:bg-[hsl(var(--n)_/_var(--tw-bg-opacity))] before:opacity-75 before:rounded-[var(--rounded-box,1rem)];
}
.card.image-full:before {
  --tw-bg-opacity: 1;
}
.card.image-full:before,
.card.image-full > * {
  @apply col-start-1 row-start-1;
}
.card.image-full > figure img {
  @apply h-full object-cover;
}
.card.image-full > .card-body {
  @apply relative z-20 text-[hsl(var(--nc)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.checkbox {
  @apply shrink-0 h-6 w-6 cursor-pointer appearance-none border border-[hsl(var(--bc)_/_var(--tw-border-opacity))] rounded-[var(--rounded-btn,0.5rem)];
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  --tw-border-opacity: 0.2;
}
.dropdown {
  @apply relative inline-block;
}
.dropdown > :focus {
  @apply outline-none outline-offset-2;
}
.dropdown .dropdown-content {
  @apply invisible absolute z-50 opacity-0 origin-top transition  duration-[0.2s] ease-in-out;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.dropdown-end .dropdown-content {
  @apply right-0;
}
.dropdown-left .dropdown-content {
  @apply origin-right right-full top-0 bottom-auto;
}
.dropdown-right .dropdown-content {
  @apply origin-left left-full top-0 bottom-auto;
}
.dropdown-bottom .dropdown-content {
  @apply origin-top top-full bottom-auto;
}
.dropdown-top .dropdown-content {
  @apply origin-bottom top-auto bottom-full;
}
.dropdown-end.dropdown-left .dropdown-content,
.dropdown-end.dropdown-right .dropdown-content {
  @apply top-auto bottom-0;
}
.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown.dropdown-open .dropdown-content,
.dropdown:not(.dropdown-hover):focus .dropdown-content,
.dropdown:not(.dropdown-hover):focus-within .dropdown-content {
  @apply visible opacity-100;
}
.footer {
  @apply w-full grid-flow-row gap-y-10 gap-x-4 text-sm leading-5;
}
.footer,
.footer > * {
  @apply grid place-items-start;
}
.footer > * {
  @apply gap-2;
}

@media (min-width: 48rem) {
  .footer {
    grid-auto-flow: column;
  }

  .footer-center {
    grid-auto-flow: row dense;
  }
}
.label {
  @apply flex select-none items-center justify-between px-1 py-2;
}
.input {
  @apply shrink h-12 text-base leading-6 border border-[hsl(var(--bc)_/_var(--tw-border-opacity))] bg-[hsl(var(--b1)_/_var(--tw-bg-opacity))] rounded-[var(--rounded-btn,0.5rem)] px-4;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}
.input-group > .input {
  @apply isolate;
}
.input-group > *,
.input-group > .input,
.input-group > .select,
.input-group > .textarea {
  @apply rounded-none;
}
.link {
  @apply cursor-pointer underline;
}
.link-hover {
  @apply no-underline hover:underline;
}
.menu {
  @apply flex flex-col flex-wrap;
}
.menu.horizontal {
  @apply inline-flex flex-row;
}
.menu.horizontal :where(li) {
  @apply flex-row;
}
:where(.menu li) {
  @apply relative flex shrink-0 flex-col flex-wrap items-stretch;
}
.menu :where(li:not(.menu-title)) > :where(:not(ul)) {
  @apply flex;
}
.menu :where(li:not(.disabled):not(.menu-title)) > :where(:not(ul)) {
  @apply cursor-pointer select-none items-center outline-none outline-offset-2;
}
.menu > :where(li > :not(ul):focus) {
  @apply outline-none outline-offset-2;
}
.menu > :where(li.disabled > :not(ul):focus) {
  @apply cursor-auto;
}
.menu > :where(li) :where(ul) {
  @apply flex flex-col items-stretch;
}
.menu > :where(li) > :where(ul) {
  @apply absolute hidden rounded-br-[inherit] rounded-t-[inherit] rounded-bl-[inherit] left-full top-auto;
}
.menu > :where(li:hover) > :where(ul) {
  @apply flex;
}
.menu > :where(li:focus) > :where(ul) {
  @apply flex;
}
.navbar {
  @apply flex items-center pt-[var(--navbar-padding)] pb-[var(--navbar-padding)] min-h-[4rem] w-full px-[0.5rem];
}
:where(.navbar > *) {
  @apply inline-flex items-center;
}
.swap {
  @apply relative inline-grid select-none place-content-center cursor-pointer;
}
.swap > * {
  @apply col-start-1 row-start-1 duration-[0.3s] ease-in-out transition-[transform,opacity];
}
.swap input {
  @apply appearance-none;
}
.swap .swap-indeterminate,
.swap .swap-on,
.swap input:indeterminate ~ .swap-on {
  @apply opacity-0;
}
.swap input:checked ~ .swap-off,
.swap input:indeterminate ~ .swap-off,
.swap.swap-active .swap-off {
  @apply opacity-0;
}
.swap input:checked ~ .swap-on,
.swap input:indeterminate ~ .swap-indeterminate,
.swap-active .swap-on {
  @apply opacity-100;
}

.textarea {
  @apply shrink min-h-[3rem] text-sm leading-5 border border-[hsl(var(--bc)_/_var(--tw-border-opacity))] bg-[hsl(var(--b1)_/_var(--tw-bg-opacity))] rounded-[var(--rounded-btn,0.5rem)] px-4 py-2;
  --tw-border-opacity: 0;
  --tw-bg-opacity: 1;
}
.toggle {
  @apply shrink-0 h-6 w-12 cursor-pointer appearance-none border border-[hsl(var(--bc)_/_var(--tw-border-opacity))] bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] duration-300 ease-in-out rounded-[var(--rounded-badge,1.9rem)] transition-[background,box-shadow] shadow-[var(--handleoffsetcalculator)_0_0_2px_var(--tglbg)_inset,0_0_0_2px_var(--tglbg)_inset,var(--togglehandleborder)];
  --tglbg: hsl(var(--b1));
  --handleoffset: 1.5rem;
  --handleoffsetcalculator: calc(var(--handleoffset) * -1);
  --togglehandleborder: 0 0;
  --tw-border-opacity: 0.2;
  --tw-bg-opacity: 0.5;
}
.avatar-group :where(.avatar) {
  @apply overflow-hidden border-[hsl(var(--b1)_/_var(--tw-border-opacity))] rounded-full border-4;
  --tw-border-opacity: 1;
}
.btn-outline .badge {
  @apply border-[hsl(var(--nf,var(--n))_/_var(--tw-border-opacity))] text-[hsl(var(--nc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-primary .badge {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] bg-[hsl(var(--p)_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-secondary .badge {
  @apply border-[hsl(var(--s)_/_var(--tw-border-opacity))] bg-[hsl(var(--s)_/_var(--tw-bg-opacity))] text-[hsl(var(--sc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-accent .badge {
  @apply border-[hsl(var(--a)_/_var(--tw-border-opacity))] bg-[hsl(var(--a)_/_var(--tw-bg-opacity))] text-[hsl(var(--ac)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline .badge.outline {
  @apply border-[hsl(var(--nf,var(--n))_/_var(--tw-border-opacity))] bg-transparent;
  --tw-border-opacity: 1;
}
.btn-outline.btn-primary .badge-outline {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--p)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-secondary .badge-outline {
  @apply border-[hsl(var(--s)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--s)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-accent .badge-outline {
  @apply border-[hsl(var(--a)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--a)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-info .badge-outline {
  @apply border-[hsl(var(--in)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--in)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-success .badge-outline {
  @apply border-[hsl(var(--su)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--su)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-warning .badge-outline {
  @apply border-[hsl(var(--wa)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--wa)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-error .badge-outline {
  @apply border-[hsl(var(--er)_/_var(--tw-border-opacity))] bg-transparent text-[hsl(var(--er)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline:hover .badge {
  @apply bg-[hsl(var(--b2,var(--b1))_/_var(--tw-bg-opacity))] text-[hsl(var(--bc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline:hover .badge,
.btn-outline:hover .badge.outline {
  @apply border-[hsl(var(--b2,var(--b1))_/_var(--tw-border-opacity))];
}
.btn-outline:hover .badge.outline {
  @apply text-[hsl(var(--nc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-primary:hover .badge {
  @apply bg-[hsl(var(--pc)_/_var(--tw-bg-opacity))] text-[hsl(var(--p)_/_var(--tw-text-opacity))];
}
.btn-outline.btn-primary:hover .badge,
.btn-outline.btn-primary:hover .badge.outline {
  @apply border-[hsl(var(--pc)_/_var(--tw-border-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-primary:hover .badge.outline {
  @apply bg-[hsl(var(--pf,var(--p))_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
}
.btn-outline.btn-secondary:hover .badge {
  @apply bg-[hsl(var(--sc)_/_var(--tw-bg-opacity))] text-[hsl(var(--s)_/_var(--tw-text-opacity))];
}
.btn-outline.btn-secondary:hover .badge,
.btn-outline.btn-secondary:hover .badge.outline {
  @apply border-[hsl(var(--sc)_/_var(--tw-border-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-secondary:hover .badge.outline {
  @apply bg-[hsl(var(--sf,var(--s))_/_var(--tw-bg-opacity))] text-[hsl(var(--sc)_/_var(--tw-text-opacity))];
}
.btn-outline.btn-accent:hover .badge {
  @apply bg-[hsl(var(--ac)_/_var(--tw-bg-opacity))] text-[hsl(var(--a)_/_var(--tw-text-opacity))];
}
.btn-outline.btn-accent:hover .badge,
.btn-outline.btn-accent:hover .badge.outline {
  @apply border-[hsl(var(--ac)_/_var(--tw-border-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-accent:hover .badge.outline {
  @apply bg-[hsl(var(--af,var(--a))_/_var(--tw-bg-opacity))] text-[hsl(var(--ac)_/_var(--tw-text-opacity))];
}
.btm-nav > * .label {
  @apply text-base leading-6;
}
.breadcrumbs > ol > li > a:focus,
.breadcrumbs > ul > li > a:focus {
  @apply outline-none outline-offset-2;
}
.breadcrumbs > ol > li > a:focus-visible,
.breadcrumbs > ul > li > a:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid currentColor;
}
.breadcrumbs > ol > li + :before,
.breadcrumbs > ul > li + :before {
  @apply content-[''] block h-1.5 w-1.5 opacity-40 bg-transparent ml-2 mr-3 border-t border-solid border-r;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-rotate: -135deg;
}
.btn:active:focus,
.btn:active:hover {
  @apply animate-none scale-x-[var(--btn-focus-scale)] scale-y-95;
}
.btn-active,
.btn:hover {
  @apply border-[hsl(var(--nf,var(--n))_/_var(--tw-border-opacity))] bg-[hsl(var(--nf,var(--n))_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}
.btn:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid hsl(var(--nf));
}
.btn-primary {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] bg-[hsl(var(--p)_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-primary.btn-active,
.btn-primary:hover {
  @apply border-[hsl(var(--pf,var(--p))_/_var(--tw-border-opacity))] bg-[hsl(var(--pf,var(--p))_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}
.btn-primary:focus-visible {
  outline: 2px solid hsl(var(--p));
}
.btn-secondary {
  @apply border-[hsl(var(--s)_/_var(--tw-border-opacity))] bg-[hsl(var(--s)_/_var(--tw-bg-opacity))] text-[hsl(var(--sc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-secondary.btn-active,
.btn-secondary:hover {
  @apply border-[hsl(var(--sf,var(--s))_/_var(--tw-border-opacity))] bg-[hsl(var(--sf,var(--s))_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}
.btn-secondary:focus-visible {
  outline: 2px solid hsl(var(--s));
}
.btn.glass.btn-active,
.btn.glass:hover {
  --glass-opacity: 25%;
  --glass-border-opacity: 15%;
}
.btn.glass:focus-visible {
  outline: 2px solid currentColor;
}
.btn-ghost {
  @apply border bg-transparent text-current border-transparent;
}
.btn-ghost.btn-active,
.btn-ghost:hover {
  @apply bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 0;
  --tw-bg-opacity: 0.2;
}
.btn-ghost:focus-visible {
  outline: 2px solid currentColor;
}
.btn-outline {
  @apply bg-transparent text-[hsl(var(--bc)_/_var(--tw-text-opacity))] border-current;
  --tw-text-opacity: 1;
}
.btn-outline.btn-active,
.btn-outline:hover {
  @apply border-[hsl(var(--bc)_/_var(--tw-border-opacity))] bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] text-[hsl(var(--b1)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-primary {
  @apply text-[hsl(var(--p)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-primary.btn-active,
.btn-outline.btn-primary:hover {
  @apply border-[hsl(var(--pf,var(--p))_/_var(--tw-border-opacity))] bg-[hsl(var(--pf,var(--p))_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-secondary {
  @apply text-[hsl(var(--s)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-secondary.btn-active,
.btn-outline.btn-secondary:hover {
  @apply border-[hsl(var(--sf,var(--s))_/_var(--tw-border-opacity))] bg-[hsl(var(--sf,var(--s))_/_var(--tw-bg-opacity))] text-[hsl(var(--sc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-accent {
  @apply text-[hsl(var(--a)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-accent.btn-active,
.btn-outline.btn-accent:hover {
  @apply border-[hsl(var(--af,var(--a))_/_var(--tw-border-opacity))] bg-[hsl(var(--af,var(--a))_/_var(--tw-bg-opacity))] text-[hsl(var(--ac)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-success {
  @apply text-[hsl(var(--su)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-success.btn-active,
.btn-outline.btn-success:hover {
  @apply border-[hsl(var(--su)_/_var(--tw-border-opacity))] bg-[hsl(var(--su)_/_var(--tw-bg-opacity))] text-[hsl(var(--suc,var(--nc))_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-info {
  @apply text-[hsl(var(--in)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-info.btn-active,
.btn-outline.btn-info:hover {
  @apply border-[hsl(var(--in)_/_var(--tw-border-opacity))] bg-[hsl(var(--in)_/_var(--tw-bg-opacity))] text-[hsl(var(--inc,var(--nc))_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-warning {
  @apply text-[hsl(var(--wa)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-warning.btn-active,
.btn-outline.btn-warning:hover {
  @apply border-[hsl(var(--wa)_/_var(--tw-border-opacity))] bg-[hsl(var(--wa)_/_var(--tw-bg-opacity))] text-[hsl(var(--wac,var(--nc))_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-outline.btn-error {
  @apply text-[hsl(var(--er)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.btn-outline.btn-error.btn-active,
.btn-outline.btn-error:hover {
  @apply border-[hsl(var(--er)_/_var(--tw-border-opacity))] bg-[hsl(var(--er)_/_var(--tw-bg-opacity))] text-[hsl(var(--erc,var(--nc))_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-disabled,
.btn-disabled:hover,
.btn[disabled],
.btn[disabled]:hover {
  @apply bg-[hsl(var(--n)_/_var(--tw-bg-opacity))] text-[hsl(var(--bc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 0;
  --tw-bg-opacity: 0.2;
  --tw-text-opacity: 0.2;
}
.btn.loading.btn-circle:before,
.btn.loading.btn-square:before {
  @apply mr-0;
}
.btn.loading.btn-lg:before,
.btn.loading.btn-xl:before {
  @apply h-5 w-5;
}
.btn.loading.btn-sm:before,
.btn.loading.btn-xs:before {
  @apply h-3 w-3;
}
.btn-group > .btn-active,
.btn-group > input[type='radio']:checked.btn {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] bg-[hsl(var(--p)_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.btn-group > .btn-active:focus-visible,
.btn-group > input[type='radio']:checked.btn:focus-visible {
  outline: 2px solid hsl(var(--p));
}

.card :where(figure:first-child) {
  @apply overflow-hidden;
  border-start-start-radius: inherit;
  border-start-end-radius: inherit;
  border-end-start-radius: unset;
  border-end-end-radius: unset;
}
.card :where(figure:last-child) {
  @apply overflow-hidden;
  border-start-start-radius: unset;
  border-start-end-radius: unset;
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}
.card:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid currentColor;
}
.card.bordered {
  @apply border border-[hsl(var(--b2,var(--b1))_/_var(--tw-border-opacity))];
  --tw-border-opacity: 1;
}
.card.compact .card-body {
  @apply text-sm leading-5 p-4;
}
.card.image-full :where(figure) {
  @apply overflow-hidden rounded-[inherit];
}
.checkbox:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid hsl(var(--bc));
}
.checkbox:checked,
.checkbox[aria-checked='true'],
.checkbox[checked='true'] {
  @apply bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] bg-no-repeat animate-[checkmark_var(--animation-input,0.2s)_ease-in-out] bg-[linear-gradient(_-45deg,transparent_65%,hsl(var(--chkbg))_65.99%_),linear-gradient(45deg,transparent_75%,hsl(var(--chkbg))_75.99%),linear-gradient(-45deg,hsl(var(--chkbg))_40%,transparent_40.99%),linear-gradient(_45deg,hsl(var(--chkbg))_30%,hsl(var(--chkfg))_30.99%,hsl(var(--chkfg))_40%,transparent_40.99%_),linear-gradient(-45deg,hsl(var(--chkfg))_50%,hsl(var(--chkbg))_50.99%)];
  --tw-bg-opacity: 1;
}
.checkbox:indeterminate {
  @apply bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] bg-no-repeat animate-[checkmark_var(--animation-input,0.2s)_ease-in-out] bg-[linear-gradient(_90deg,transparent_80%,hsl(var(--chkbg))_80%_),linear-gradient(-90deg,transparent_80%,hsl(var(--chkbg))_80%),linear-gradient(_0deg,hsl(var(--chkbg))_43%,hsl(var(--chkfg))_43%,hsl(var(--chkfg))_57%,hsl(var(--chkbg))_57%_)];
  --tw-bg-opacity: 1;
}
.checkbox:disabled {
  @apply cursor-not-allowed bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] opacity-20 border-transparent;
  --tw-bg-opacity: 1;
}
@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  to {
    background-position-y: 0;
  }
}

[dir='rtl'] .checkbox:checked,
[dir='rtl'] .checkbox[aria-checked='true'],
[dir='rtl'] .checkbox[checked='true'] {
  @apply bg-[linear-gradient(_45deg,transparent_65%,hsl(var(--chkbg))_65.99%_),linear-gradient(-45deg,transparent_75%,hsl(var(--chkbg))_75.99%),linear-gradient(45deg,hsl(var(--chkbg))_40%,transparent_40.99%),linear-gradient(_-45deg,hsl(var(--chkbg))_30%,hsl(var(--chkfg))_30.99%,hsl(var(--chkfg))_40%,transparent_40.99%_),linear-gradient(45deg,hsl(var(--chkfg))_50%,hsl(var(--chkbg))_50.99%)];
}

.drawer-toggle:focus-visible ~ .drawer-content .drawer-button.btn-primary {
  outline: 2px solid hsl(var(--p));
}
.drawer-toggle:focus-visible ~ .drawer-content .drawer-button.btn-secondary {
  outline: 2px solid hsl(var(--s));
}
.drawer-toggle:focus-visible ~ .drawer-content .drawer-button.btn-ghost {
  outline: 2px solid currentColor;
}
.dropdown.dropdown-hover:hover .dropdown-content,
.dropdown.dropdown-open .dropdown-content,
.dropdown:focus .dropdown-content,
.dropdown:focus-within .dropdown-content {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.label a:hover {
  @apply text-[hsl(var(--bc)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 1;
}
.input[list]::-webkit-calendar-picker-indicator {
  @apply leading-[1em];
}
.input:focus {
  @apply outline-offset-2;
  outline: 2px solid hsla(var(--bc) / 0.2);
}
.input-disabled,
.input[disabled] {
  @apply cursor-not-allowed border-[hsl(var(--b2,var(--b1))_/_var(--tw-border-opacity))] bg-[hsl(var(--b2,var(--b1))_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 0.2;
}
.input-disabled::-moz-placeholder,
.input[disabled]::-moz-placeholder {
  @apply text-[hsl(var(--bc)_/_var(--tw-placeholder-opacity))];
  --tw-placeholder-opacity: 0.2;
}
.input-disabled::placeholder,
.input[disabled]::placeholder {
  @apply text-[hsl(var(--bc)_/_var(--tw-placeholder-opacity))];
  --tw-placeholder-opacity: 0.2;
}
.link:focus {
  @apply outline-none outline-offset-2;
}
.link:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid currentColor;
}
.menu.horizontal > li.bordered > a,
.menu.horizontal > li.bordered > button,
.menu.horizontal > li.bordered > span {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] border-l-0 border-b-4;
  --tw-border-opacity: 1;
}
.menu[class*=' p-']:not(.menu[class*=' p-0']) li > *,
.menu[class*=' px-']:not(.menu[class*=' px-0']) li > *,
.menu[class^='p-']:not(.menu[class^='p-0']) li > *,
.menu[class^='px-']:not(.menu[class^='px-0']) li > * {
  @apply rounded-[var(--rounded-btn,0.5rem)];
}

.menu :where(li.bordered > *) {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] border-l-4;
  --tw-border-opacity: 1;
}
.menu :where(li) > :where(:not(ul)) {
  @apply gap-3 text-current px-4 py-3;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):hover) {
  @apply bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))];
  --tw-bg-opacity: 0.1;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul):active) {
  @apply bg-[hsl(var(--p)_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.menu :where(li:empty) {
  @apply h-px bg-[hsl(var(--bc)_/_var(--tw-bg-opacity))] mx-4 my-2;
  --tw-bg-opacity: 0.1;
}
.menu li.disabled > * {
  @apply select-none text-[hsl(var(--bc)_/_var(--tw-text-opacity))];
  --tw-text-opacity: 0.2;
}
.menu li.disabled > :hover {
  @apply bg-transparent;
}
.menu li.hover-bordered a {
  @apply border-l-4 border-transparent hover:border-[hsl(var(--p)_/_var(--tw-border-opacity))];
}
.menu li.hover-bordered a:hover {
  --tw-border-opacity: 1;
}
.menu.compact li > a,
.menu.compact li > span {
  @apply text-sm leading-5 py-2;
}
.menu .menu-title {
  @apply text-xs leading-4 font-bold opacity-40;
}
.menu .menu-title > * {
  @apply py-1;
}
.menu :where(li:not(.disabled)) > :where(:not(ul)) {
  @apply outline-none outline-offset-2 transition  duration-[0.2s] ease-in-out;
}
.menu > :where(li:first-child) {
  @apply rounded-br-[unset] rounded-t-[inherit] rounded-bl-[unset];
}
.menu > :where(li:first-child) > :where(:not(ul)) {
  @apply rounded-br-[unset] rounded-t-[inherit] rounded-bl-[unset];
}
.menu > :where(li:last-child) {
  @apply rounded-br-[inherit] rounded-t-[unset] rounded-bl-[inherit];
}
.menu > :where(li:last-child) > :where(:not(ul)) {
  @apply rounded-br-[inherit] rounded-t-[unset] rounded-bl-[inherit];
}
.menu > :where(li) > :where(ul) :where(li) {
  @apply w-full whitespace-nowrap;
}
.menu > :where(li) > :where(ul) :where(li) :where(ul) {
  @apply pl-4;
}
.menu > :where(li) > :where(ul) :where(li) > :where(:not(ul)) {
  @apply w-full whitespace-nowrap;
}
.menu > :where(li) > :where(ul) > :where(li:first-child) {
  @apply rounded-br-[unset] rounded-t-[inherit] rounded-bl-[unset];
}
.menu > :where(li) > :where(ul) > :where(li:first-child) > :where(:not(ul)) {
  @apply rounded-br-[unset] rounded-t-[inherit] rounded-bl-[unset];
}
.menu > :where(li) > :where(ul) > :where(li:last-child) {
  @apply rounded-br-[inherit] rounded-t-[unset] rounded-bl-[inherit];
}
.menu > :where(li) > :where(ul) > :where(li:last-child) > :where(:not(ul)) {
  @apply rounded-br-[inherit] rounded-t-[unset] rounded-bl-[inherit];
}
.mockup-phone .display {
  @apply overflow-hidden mt-[-25px] rounded-[40px];
}

.textarea:focus {
  @apply outline-offset-2;
  outline: 2px solid hsla(var(--bc) / 0.2);
}
.textarea-disabled,
.textarea[disabled] {
  @apply cursor-not-allowed border-[hsl(var(--b2,var(--b1))_/_var(--tw-border-opacity))] bg-[hsl(var(--b2,var(--b1))_/_var(--tw-bg-opacity))];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 0.2;
}
.textarea-disabled::-moz-placeholder,
.textarea[disabled]::-moz-placeholder {
  @apply text-[hsl(var(--bc)_/_var(--tw-placeholder-opacity))];
  --tw-placeholder-opacity: 0.2;
}
.textarea-disabled::placeholder,
.textarea[disabled]::placeholder {
  @apply text-[hsl(var(--bc)_/_var(--tw-placeholder-opacity))];
  --tw-placeholder-opacity: 0.2;
}
[dir='rtl'] .toggle {
  --handleoffsetcalculator: calc(var(--handleoffset) * 1);
}
.toggle:focus-visible {
  @apply outline-offset-2;
  outline: 2px solid hsl(var(--bc));
}
.toggle:checked,
.toggle[aria-checked='true'],
.toggle[checked='true'] {
  --handleoffsetcalculator: var(--handleoffset);
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}
[dir='rtl'] .toggle:checked,
[dir='rtl'] .toggle[aria-checked='true'],
[dir='rtl'] .toggle[checked='true'] {
  --handleoffsetcalculator: calc(var(--handleoffset) * -1);
}
.toggle:indeterminate {
  @apply shadow-[calc(var(--handleoffset)_/_2)_0_0_2px_var(--tglbg)_inset,calc(var(--handleoffset)_/_-2)_0_0_2px_var(--tglbg)_inset,0_0_0_2px_var(--tglbg)_inset];
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
}
[dir='rtl'] .toggle:indeterminate {
  @apply shadow-[calc(var(--handleoffset)_/_2)_0_0_2px_var(--tglbg)_inset,calc(var(--handleoffset)_/_-2)_0_0_2px_var(--tglbg)_inset,0_0_0_2px_var(--tglbg)_inset];
}
.toggle-primary:focus-visible {
  outline: 2px solid hsl(var(--p));
}
.toggle-primary:checked,
.toggle-primary[aria-checked='true'],
.toggle-primary[checked='true'] {
  @apply border-[hsl(var(--p)_/_var(--tw-border-opacity))] bg-[hsl(var(--p)_/_var(--tw-bg-opacity))] text-[hsl(var(--pc)_/_var(--tw-text-opacity))];
  --tw-border-opacity: 0.1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}
.toggle:disabled {
  @apply cursor-not-allowed border-[hsl(var(--bc)_/_var(--tw-border-opacity))] bg-transparent opacity-30;
  --tw-border-opacity: 1;
  --togglehandleborder: 0 0 0 3px hsl(var(--bc)) inset,
    var(--handleoffsetcalculator) 0 0 3px hsl(var(--bc)) inset;
}
.no-animation {
  --btn-focus-scale: 1;
  --animation-btn: 0;
  --animation-input: 0;
}
.btn-circle:where(.btn-xs) {
  @apply h-6 w-6 p-0 rounded-full;
}
.btn-circle:where(.btn-sm) {
  @apply h-8 w-8 p-0 rounded-full;
}
.btn-circle:where(.btn-md) {
  @apply h-12 w-12 p-0 rounded-full;
}
.btn-circle:where(.btn-lg) {
  @apply h-16 w-16 p-0 rounded-full;
}
.menu-horizontal {
  @apply inline-flex w-max flex-row;
}
.menu-horizontal :where(li) {
  @apply flex-row;
}
.menu-horizontal > :where(li) > :where(ul) {
  @apply left-auto top-full;
}
.avatar.online:before {
  @apply bg-[hsl(var(--su)_/_var(--tw-bg-opacity))];
}
.avatar.offline:before,
.avatar.online:before {
  @apply content-[''] absolute z-10 block w-[15%] h-[15%] shadow-[0_0_0_2px_hsl(var(--b1))] rounded-full right-[7%] top-[7%];
  --tw-bg-opacity: 1;
}
.avatar.offline:before {
  @apply bg-[hsl(var(--b3,var(--b2))_/_var(--tw-bg-opacity))];
}
.btn-group .btn:not(:first-child):not(:last-child) {
  @apply rounded-br-none rounded-t-none rounded-bl-none;
}
.btn-group .btn:first-child:not(:last-child) {
  @apply rounded-tl-[var(--rounded-btn,0.5rem)] rounded-bl-[var(--rounded-btn,0.5rem)] -ml-px mt-0 rounded-tr-none rounded-br-none;
}
.btn-group .btn:last-child:not(:first-child) {
  @apply rounded-tr-[var(--rounded-btn,0.5rem)] rounded-br-[var(--rounded-btn,0.5rem)] rounded-tl-none rounded-bl-none;
}
.btn-group-horizontal .btn:not(:first-child):not(:last-child) {
  @apply rounded-br-none rounded-t-none rounded-bl-none;
}
.btn-group-horizontal .btn:first-child:not(:last-child) {
  @apply rounded-tl-[var(--rounded-btn,0.5rem)] rounded-bl-[var(--rounded-btn,0.5rem)] -ml-px mt-0 rounded-tr-none rounded-br-none;
}
.btn-group-horizontal .btn:last-child:not(:first-child) {
  @apply rounded-tr-[var(--rounded-btn,0.5rem)] rounded-br-[var(--rounded-btn,0.5rem)] rounded-tl-none rounded-bl-none;
}
.btn-group-vertical .btn:first-child:not(:last-child) {
  @apply rounded-tl-[var(--rounded-btn,0.5rem)] rounded-tr-[var(--rounded-btn,0.5rem)] ml-0 -mt-px rounded-br-none rounded-bl-none;
}
.btn-group-vertical .btn:last-child:not(:first-child) {
  @apply rounded-bl-[var(--rounded-btn,0.5rem)] rounded-br-[var(--rounded-btn,0.5rem)] rounded-t-none;
}
.card-compact .card-body {
  @apply text-sm leading-5 p-4;
}
.card-normal .card-body {
  @apply pt-[var(--padding-card)] pb-[var(--padding-card)] text-base leading-6 px-[2rem];
}
.menu-horizontal :where(li.bordered > *) {
  @apply border-l-0 border-b-4;
}
.menu-compact :where(li > *) {
  @apply text-sm leading-5 py-2;
}
.menu-horizontal > :where(li:first-child) {
  @apply rounded-tl-[inherit] rounded-tr-[unset] rounded-br-[unset] rounded-bl-[inherit];
}
.menu-horizontal > :where(li:first-child) > :where(:not(ul)) {
  @apply rounded-tl-[inherit] rounded-tr-[unset] rounded-br-[unset] rounded-bl-[inherit];
}
.menu-horizontal > :where(li:last-child) {
  @apply rounded-tl-[unset] rounded-tr-[inherit] rounded-br-[inherit] rounded-bl-[unset];
}
.menu-horizontal > :where(li:last-child) > :where(:not(ul)) {
  @apply rounded-tl-[unset] rounded-tr-[inherit] rounded-br-[inherit] rounded-bl-[unset];
}

@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.95));
  }

  40% {
    transform: scale(1.02);
  }

  to {
    transform: scale(1);
  }
}
